<form class="mt-2 d-flex flex-column container-md container-lg" [formGroup]="profileForm">
  <mat-form-field class="example-full-width">
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login">
    <mat-hint class="text-danger" *ngIf="this.profileForm.get('login')?.invalid && this.profileForm.get('login')?.touched" >Логин не должен быть пустым</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Повторный пароль</mat-label>
    <input matInput formControlName="confirmPassword">
    <mat-hint class="text-danger" *ngIf="passwordMatchError" >Пароли не совпадают</mat-hint>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="mail">
    <mat-hint class="text-danger" *ngIf="this.profileForm.get('mail')?.invalid && this.profileForm.get('mail')?.touched" >Неверный mail</mat-hint>
  </mat-form-field>

  <div class="d-flex justify-content-center">
    <button type="button" (click)="save()" class="btn btn-primary w-75">Зарегистрироваться</button>
  </div>
</form>
