<mat-dialog-content>
  <div class="d-flex justify-content-end">
    <button mat-icon-button mat-dialog-close>
      <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="Вход"><login></login> </mat-tab>
    <mat-tab label="Регистрация"> <registration></registration> </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Close</button>-->
<!--</mat-dialog-actions>-->
